<nav>
  <ul>
    <li><a href='/'>{{ 'Home' | upcase }}</a></li>&#10019;
    <!-- <li><a href='/blog/'>{{ 'Blog' | upcase }}</a></li>&#10019; -->
    <li class='dropdown-menu'><span id='dropdown-menu-title'>{{ 'Guides' | upcase }}&#9662;</span>
      <ul class="dropdown-menu-items">
        {% for guide in site.guides %}
          <li><a href='{{ guide.url }}'>{{ guide.title }}</a></li>
        {% endfor %}
      </ul>
    </li>&#10019;
    <li><a href='https://www.youtube.com/channel/UC1mnMzJjOMttYabDsAd3Gww'>{{ 'Videos' | upcase }}</a></li>&#10019;
    <li><a href='https://www.dropbox.com/s/l9udcnc57rlmpp9/Daniel%20Frampton%20Resume%20-%20Software%20Developer.pdf?dl=0'>{{ 'CV' | upcase }}</a></li>&#10019;
    <li class='dropdown-menu'><span id='dropdown-menu-title'>{{ 'Profiles' | upcase }}&#9662;</span>
      <ul class="dropdown-menu-items">
        <li><a href="https://alumni.turing.io/alumni/daniel-frampton">{{ 'Portfolio' | capitalize }}</a></li>
        <li><a href="https://github.com/DanielEFrampton">{{ 'Github' | capitalize }}</a></li>
        <li><a href="https://www.linkedin.com/in/danielframpton">{{ 'LinkedIn' | capitalize }}</a></li>
        <li><a href="https://twitter.com/intent/user?screen_name=DanielEFrampton">{{ 'Twitter' | capitalize }}</a></li>
      </ul>
    </li>
  </ul>
</nav>
