html, body, #body-block {
  height: 100%
}

#top-block {
 flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: 'Baskervville', serif;
  margin: 0px;

  font-size: 1.1em;
}

h1 {
  font-size: 1.5em;
}

#home-title {
  text-align: center;
}

#projects-title {
  text-align: center;
}

h2 {
  font-size: 1.25em;
}

nav {
  background-color: white;
  font-size: 1.5em;
  color: black;
  margin-top: 1%;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
  padding-left: 0px
}

nav li {
  display: inline;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:last-of-type:after {
  margin-left: 0em;
  content: '';
  width: 0px;
}

.dropdown-menu:hover .dropdown-menu-items {
  display: flex;
  flex-direction: column;
  background-color: peru;

  z-index: 1;
  position: absolute;
  margin-left: 0em;
  padding-left: .5em;
  padding-right: .5em;
}

.dropdown-menu-items {
  display: none;
}

.dropdown-menu-items a {
  color: white;
}

.dropdown-menu-items a:hover {
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu-items li {
  list-style: none;
  padding: .25em;
  border-bottom: 1px solid #FFF;
}

.dropdown-menu-items li:last-of-type {
  border-bottom: none;
}

#dropdown-menu-title {
  z-index: 2;
  cursor: pointer;
  position: relative;
}

main {
  margin: 1% 20% 0% 20%;
  width: auto;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

table {
  border: 1px solid darkgray;
  border-collapse: collapse;
  width: fit-content;
}

table * {
  border: 1px solid darkgray;
  padding: .5em;
}

tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

tbody tr:nth-child(even) {
  background-color: WhiteSmoke;
}

th * {
  font-weight: bold;
}

li > p {
  text-indent: 0em;
}

main a, footer a {
  color: peru
}

main a:visited, footer a:visited {
  color: #694420;
}

.project-display-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  flex-grow: 1;
}

.project-display-box:any-link {
  background-color: peru;
  color: white;
  text-decoration: none;
  font-size: 1.5em;

  width: 40%;
  min-width: 300px;
  height: 20%;
  min-height: 100px;

  margin-bottom: 1em;
  margin-top: 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.project-display-box:hover > * {
  font-weight: bold;
}

.project-display-box > img {
  height: 1.5em;
}

footer {
  font-size: .75em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#profile {
  margin-left: 5%;
  margin-right: 5%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: .75em;
  }

  main {
    margin: 1% 10% 0%;
    font-size: 1.25em;
  }
}
